.frame-child {
  height: 462.4px;
  width: 1925.5px;
  position: relative;
  background-color: var(--color-seagreen);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.description-child {
  height: 357.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.description,
.i {
  margin: 0 !important;
  position: absolute;
}
.i {
  height: 210px;
  width: 99px;
  top: 40.67px;
  right: 906.7px;
  display: inline-block;
  transform: rotate(-17.3deg);
  transform-origin: 0 0;
  z-index: 3;
}
.description {
  width: 1925.5px;
  top: 105px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bosques,
.pinares {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.bosques {
  width: 447px;
  min-width: 447px;
  min-height: 210px;
  max-width: 100%;
}
.pinares {
  align-self: stretch;
  height: 142px;
}
.feature-highlight,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.feature-highlight {
  width: 358px;
  flex-direction: column;
  padding: var(--padding-49xl) 0 0;
  min-width: 358px;
  font-family: var(--font-human-nature---demo);
}
.rectangle-parent {
  background-color: var(--color-seagreen);
  flex-direction: row;
  padding: var(--padding-74xl-3) var(--padding-462xl) var(--padding-74xl);
  position: relative;
  gap: var(--gap-138xl-9);
  min-height: 462px;
  z-index: 3;
}
.mask-group-icon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.freedom-title-child {
  height: 447px;
  width: 1920px;
  position: relative;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
  display: none;
  max-width: 100%;
}
.libertad {
  margin: 0;
  width: 396px;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-style: italic;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.freedom-title {
  flex: 1;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-9xl-4) var(--padding-xl) var(--padding-9xl);
  box-sizing: border-box;
  min-height: 447px;
  max-width: 100%;
  z-index: 1;
}
.main-content,
.mask-group-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.mask-group-parent {
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  min-height: 721px;
  margin-top: -4.7px;
  font-size: var(--font-size-77xl);
  font-family: var(--font-inter);
}
.main-content {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-160xl-8) 0;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-123xl-3);
  color: var(--color-white);
  font-family: var(--font-christian-sunday);
}
@media screen and (max-width: 1825px) {
  .bosques {
    flex: 1;
    min-width: 100%;
  }
  .feature-highlight {
    flex: 1;
  }
  .rectangle-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1350px) {
  .feature-highlight {
    min-width: 100%;
  }
  .rectangle-parent {
    gap: var(--gap-60xl);
    padding-left: var(--padding-221xl);
    padding-right: var(--padding-221xl);
    box-sizing: border-box;
  }
  .main-content {
    padding-bottom: var(--padding-98xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .bosques,
  .i,
  .pinares {
    font-size: var(--font-size-38xl);
  }
  .rectangle-parent {
    gap: var(--gap-20xl);
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-101xl);
    box-sizing: border-box;
  }
  .libertad {
    font-size: var(--font-size-29xl);
  }
  .main-content {
    padding-bottom: var(--padding-57xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .bosques,
  .i,
  .pinares {
    font-size: var(--font-size-17xl);
  }
  .rectangle-parent {
    gap: var(--gap-xl);
    padding: var(--padding-42xl) var(--padding-xl) var(--padding-41xl);
    box-sizing: border-box;
  }
  .libertad {
    font-size: var(--font-size-10xl);
  }
}
