.component-3-wrapper {
  align-self: stretch;
  height: 375.9px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1600px) {
  .component-3-wrapper {
    height: auto;
  }
}
