.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
    justify-content: flex-start;
    width: 100%;
    position: relative; /* Asegura que el contenedor principal no esté afectado por absolute */
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho y alto */
}

.home .div-2 {
    background-color: #ffffff;
    height: 4817px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.home .overlap {
    position: absolute;
    top: 349px;
    left: 0;
    width: 100%; /* Asegúrate de que el video ocupe todo el ancho */
    height: 725px; /* Altura definida como en tu ejemplo */
    overflow: hidden; /* Para evitar que el video se salga del contenedor */
  }
  
  .home .overlap video {
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrado completo */
    width: 100%; /* Ajusta para que el video ocupe todo el ancho del contenedor */
    height: auto; /* Mantener la proporción del video */
    object-fit: cover; /* Asegúrate de que el video cubra todo el área */
  }

.home .rectangle {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    height: 447px;
    left: 0;
    position: absolute;
    top: 278px;
    width: 1920px;
}

.home .tu-futuro-en-don {
    color: #ffffff;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 96px;
    font-weight: 800;
    left: 175px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 271px;
}

.home .navbar {
    height: 34px;
    left: 459px;
    position: absolute;
    top: 249px;
    width: 1010px;
}

.home .text-wrapper-4 {
    color: #246f74;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.home .text-wrapper-5 {
    color: #246f74;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 113px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.home .text-wrapper-6 {
    color: #246f74;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 609px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.home .text-wrapper-7 {
    color: #246f74;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    left: 880px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.home .group-3 {
    height: 34px;
    left: 426px;
    position: absolute;
    top: 0;
    width: 151px;
}

.home .recurso-x {
    height: 135px;
    left: 853px;
    object-fit: cover;
    position: absolute;
    top: 62px;
    width: 214px;
}

.home .don-eulogio-se-ubica {
    color: #363636;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 108px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2606px;
    width: 498px;
}

.home .text-wrapper-8 {
    color: #1b693a;
    font-family: "Inter-ExtraBold", Helvetica;
    font-size: 40px;
    font-weight: 800;
    left: 108px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2520px;
    white-space: nowrap;
}

.home .p {
    color: #363636;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 108px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2800px;
    width: 425px;
}

.home .text-wrapper-9 {
    color: #61a8dc;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 108px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 2964px;
    width: 384px;
}

.home .overlap-group-wrapper {
    height: 721px;
    left: 0;
    position: absolute;
    top: 1620px;
    width: 1922px;
}

.home .overlap-group-2 {
    background-size: cover; /* Ajusta según necesidad */
    height: 721px;
    position: relative;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.home .carousel-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.home .carousel-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .text-wrapper-10 {
    position: absolute;
    color: #61a8dc;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 50%;
    bottom: 20px; /* Ajusta la posición vertical */
    transform: translateX(-50%);
    text-align: center;
    width: auto; /* Ajusta según necesidad */
}

.home .carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 20px;
    box-sizing: border-box;
}

.home .carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.home .carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.home .rectangle-2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    height: 447px;
    left: 0;
    position: absolute;
    top: 274px;
    width: 1920px;
}

.home .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-BoldItalic", Helvetica;
    font-size: 96px;
    font-style: italic;
    font-weight: 700;
    left: 762px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 303px;
}

.home .component-1 {
    left: 0 !important;
    position: absolute !important;
    top: 4446px !important;
}

.home .overlap-wrapper {
    height: 448px;
    left: -68px;
    position: absolute;
    top: 3615px;
    width: 2081px;
}

.home .overlap-2 {
    background-color: #1b693a;
    height: 448px;
    left: 51px;
    position: relative;
    width: 1947px;
}

.home .mask-group {
    height: 448px;
    left: 17px;
    position: absolute;
    top: 0;
    width: 1920px;
}

.home .la-tranquilidad-de {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 67.6px;
    font-weight: 400;
    left: 457px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 142px;
}

.home .span {
    font-weight: 500;
}

.home .text-wrapper-11 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
}

.home .group-4 {
    height: 156px;
    left: 540px;
    position: absolute;
    top: 1331px;
    width: 372px;
}

.home .overlap-3 {
    background-color: #1b693a;
    background-image: url(../../Assets/bosques.png);
    background-size: 100% 100%;
    border-radius: 78.21px;
    height: 156px;
    position: relative;
    width: 370px;
}

.home .text-wrapper-12 {
    color: #ffffff;
    font-family: "Christian Sunday-Italic", Helvetica;
    font-size: 74.8px;
    font-style: italic;
    font-weight: 400;
    left: 68px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 14px;
}

.home .group-5 {
    height: 156px;
    left: 1010px;
    position: absolute;
    top: 1331px;
    width: 372px;
}

.home .overlap-4 {
    background-color: #1a393c;
    background-image: url(../../Assets/pinar.png);
    background-size: 100% 100%;
    border-radius: 78.21px;
    height: 156px;
    position: relative;
    width: 370px;
}

.home .text-wrapper-13 {
    color: #ffffff;
    font-family: "Human Nature - Demo-Regular", Helvetica;
    font-size: 99.2px;
    font-weight: 400;
    left: 60px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 29px;
    white-space: nowrap;
}

.home .group-6 {
    height: 189px;
    left: 527px;
    position: absolute;
    top: 4134px;
    width: 868px;
}

.home .group-7 {
    height: 189px;
    left: 298px;
    position: absolute;
    top: 0;
    width: 569px;
}

.home .image {
    height: 145px;
    left: 200px;
    position: absolute;
    top: 36px;
    width: 369px;
}

.home .image-2 {
    height: 189px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 200px;
}

.home .desarrolla-y {
    color: #314d7b;
    font-family: "Bebas Neue-Regular", Helvetica;
    font-size: 54px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative; /* Asegura que siga el flujo del documento */
    margin-left: 0; /* Ajusta el margen izquierdo para alinearlo con el contenedor */
    margin-top: 20px; /* Ajusta el margen superior para posicionarlo correctamente */
}

.home .text-wrapper-14 {
    color: #000000;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 60px;
    font-weight: 600;
    left: 694px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 1165px;
}

.home .mapa-don-eulogio {
    height: 936px;
    left: 681px;
    object-fit: cover;
    position: absolute;
    top: 2497px;
    width: 1099px;
}

.footer-image {
    width: 100%; /* Asegura que el footer ocupe todo el ancho del contenedor */
    display: block; /* Asegura que se muestre como un bloque */
    margin-top: 20px; /* Espacio superior opcional */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    position: relative; /* Asegura que el footer siga el flujo del documento */
}